.catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  width: 45%;
  text-align: right;
  margin-bottom: 8px;
  padding-right: 100px;
  padding-left: 150px;

  &:nth-child(2n) {
    text-align: left;
    padding-left: 125px;
    padding-right: 150px;
  }
}

.catalog__title {
  font-size: 19px;
  color: @grey-dark;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 18px;
}

.catalog__text {
  font-size: 12px;
  line-height: 19px;
}
