.cite-nav {
  .list();

  display: flex;
  justify-content: space-between;
}

.cite-nav__item {
  position: relative;
  padding: 33px 12px;
  cursor: pointer;

  a {
    font-size: 19px;
    text-decoration: none;
    color: @grey-text;
    text-transform: uppercase;
  }

  &--active {

    a {
      color: @white;
    }

    background-color: @blue;
  }

  &--search {
    width: 70px;
    background-image: url("../img/icon-loupe.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
  }

  &:hover:not(&--active) {
    background-color: @grey-dark;
  }

  &:hover .cite-nav__list {
    display: flex;
  }
}

@media (max-width: @tablet-width) {
  .cite-nav {
    width: 100%;
    flex-direction: column;
  }

  .cite-nav__item {
    text-align: center;
    padding: 15px 12px;

    &--search {
      width: 100%;
      padding-top: 40px;
      background-image: url("../img/icon-loupe.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 4%;
    }
  }
}
